@tailwind base;
  @tailwind components;
  @tailwind utilities;



  @layer base {
    :root {
      //--background: 0 0% 100%;
      //--foreground: 222.2 84% 4.9%;
      //
      //--card: 0 0% 100%;
      //--card-foreground: 222.2 84% 4.9%;
      //
      //--popover: 0 0% 100%;
      //--popover-foreground: 222.2 84% 4.9%;
      //
      ////--primary: 222.2 47.4% 11.2%;
      ////--primary-foreground: 210 40% 98%;
      //
      //--secondary: 210 40% 96.1%;
      //--secondary-foreground: 222.2 47.4% 11.2%;
      //
      //--muted: 210 40% 96.1%;
      //--muted-foreground: 215.4 16.3% 46.9%;
      //
      //--accent: 210 40% 96.1%;
      //--accent-foreground: 222.2 47.4% 11.2%;
      //
      //--destructive: 0 84.2% 60.2%;
      //--destructive-foreground: 210 40% 98%;
      //
      //--border: 214.3 31.8% 91.4%;
      //--input: 214.3 31.8% 91.4%;
      //--ring: 222.2 84% 4.9%;

      --background: #FFFFFF;
      --foreground: #0A0A25;

      --card: #FFFFFF;
      --card-foreground: #0A0A25;

      --popover: #FFFFFF;
      --popover-foreground: #0A0A25;

      --primary: #00a6fb;
      --primary-foreground: #fff;

      --secondary: #F4F4FF;
      --secondary-foreground: #1A1A40;

      --muted: #F4F4FF;
      --muted-foreground: #767698;

      --accent: #F4F4FF;
      --accent-foreground: #1A1A40;

      --destructive: #FF4D4D;
      --destructive-foreground: #E5F2FF;

      --border: #DDE1FF;
      --input: #DDE1FF;
      --ring: #0A0A25;


      --radius: 0.5rem;
    }

    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }





@layer utilities {

  /**
Use following tailwind colors to apply background gradient to the service cards
Blue
Green
Emarald
Teal
Cyan
Sky
Indigo
Violet
Purple
Fuchsia
Pink
Rose
 */


  .services-card {
    @apply bg-gradient-to-br from-green-500 to-green-800;

    &:hover {
      @apply bg-gradient-to-br from-blue-500 to-blue-800;

      svg {
        @apply stroke-white fill-white;
      }
    }
  }



}


@mixin get_services_card_styles ($color) {
  color: $color;

  svg {
    stroke: $color;
    fill: $color;

  }
  &:hover {
    color: white;
    background-color: $color;
    svg {
      stroke: white;
      fill: white;
    }
  }
}

$blue: #00a6fb;
$purple: #6b46c1;
$green: #68d391;
$cyan: #63b3ed;
$red: #f56565;
$violet: #9381ff;
$pink: #d81159;
$orange: #ff6b35;

//@layer components {
  .services-card-blue {
    @include get_services_card_styles($blue);
  }

    .services-card-purple {
        @include get_services_card_styles($purple);
    }

    .services-card-green {
        @include get_services_card_styles($green);
    }

    .services-card-cyan {
        @include get_services_card_styles($cyan);
    }

    .services-card-red {
        @include get_services_card_styles($red);
    }

    .services-card-violet {
        @include get_services_card_styles($violet);
    }

    .services-card-pink {
        @include get_services_card_styles($pink);
    }

    .services-card-orange {
        @include get_services_card_styles($orange);
    }
//}